# Python
__pycache__/
*.pyc

# Packaging / editable installs
*.egg-info/
dist/
build/

# Hydra outputs (when you run experiments)
outputs/
.multirun/

# Datasets
datasets/*/*.h5
datasets/*/*.hdf5
datasets/*/*.p

# Ongoing experiments
*/2param/
*/dw_*/
*/amber501*/*
*/dw/*

.DS_Store
